.foodGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1rem;
    border-radius: 1rem;
    background-color: hsl(347, 63%, 91%);
}

.foodGroupTitle {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.foodGroupTitle h3 {
    align-self: self-start;
    padding: 2rem;
}

.foodGroupTitle h3:hover, .foodGroupTitle p:hover {
    cursor: pointer;
}

.foodGroupTitle p {
    margin: 1rem;
    color: hsl(0, 71%, 36%);
    font-weight: 700;
}

.foodList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 90%;
}