.foodInfo {
    margin: .9rem;
    padding: .5rem;
    background-color: rgb(248, 230, 230);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 8rem;
}

.foodInfo h4 {
    margin: 0;
    padding: .5rem;
}

.foodInfo h5 {
    text-align: right;
    margin: 0.5rem 0 0 0;
    color: rgb(156, 26, 26);
}

.foodInfo h5:hover {
    cursor: pointer;
}

.nutritionFacts {
    margin: .5rem;
    min-width: 300px;
}

.nutritionFacts p {
    margin: 0.5rem 1rem;
}

.servingSize, .caloricMeasurementKcal {
    display: flex;
    justify-content: space-between;
}

.servingSize .info, .caloricMeasurementKcal .info {
    text-align: right;
}
