.foodInfo {
    margin: .9rem;
    padding: .5rem;
    background-color: 	hsl(347, 63%, 74%);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 8rem;
}

.foodInfo h4 {
    padding: .5rem;
}

.foodInfo h5 {
    text-align: right;
    margin-top: 0.5rem;
    color: hsl(0, 71%, 36%);
}

.foodInfo h5:hover {
    cursor: pointer;
}

.nutritionFacts {
    margin: .5rem;
}

.nutritionFacts p {
    margin: 0.5rem 1rem;
    text-align: left;
}

.servingSize, .caloricMeasurementKcal {
    display: flex;
    justify-content: space-between;
}

.servingSize .info, .caloricMeasurementKcal .info {
    text-align: right;
}
