* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.125rem;
}

html {
  font-size: 16px;
  background-color: hsl(231, 57%, 91%);
}

body {
  min-width: 320px;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}