.newFood {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.newFood section {
  margin: 0.5rem;
  /* min-width: 290px; */
}

.newFood label {
  font-size: 1.25rem;
  margin: 1rem;
}

.newFood input {
  margin: 1rem;
  margin-right: 0.5rem;
  padding: 0.8rem;
  border-radius: 1rem;
  border: none;
}

.newFood p {
  display: inline-block;
}

.newFood .value {
  text-align: center;
  display: inline;
}

#group {
  margin: 1rem;
  margin-right: 0.5rem;
  padding: 0.8rem;
  border-radius: 1rem;
}

.newFood option {
  background-color: hsl(231, 57%, 91%);
  font-size: 1.5rem;
  text-align: center;
}

.newFood .navButton {
  align-self: stretch;
}


@media only screen and (max-width: 670px) {
  .newFood section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
  }

  #servingAmountGrams {
    margin-left: 1.575rem;
  }
  
  #caloricMeasurementKcal {
    margin-left: 3.250rem;
  }
  
}